<div class="w-bootstrap-iso">
    <%= form_tag({
                     :controller => 'issues',
                     :action => 'update',
                     :id => @issue.id
                 },
                 :method => :put,
                 :id => 'issue-form') do %>
        <div class="form-group">
            <h4>Assign to user:</h4>
            <p class="input-group">
                <span class="input-group-addon" title="Assign to User"><span class=" glyphicon glyphicon-user"></span></span>
                <%= select_tag 'issue[assigned_to_id]', principals_options_for_select(@issue.assignable_users, @issue.assigned_to), :class => 'form-control', "data-live-search" => true, :required => true %>
            </p>
            <% if @allowed_approved_status.size == 1 %>
                <input type="hidden" name="issue[status_id]" value="<%= @allowed_approved_status[0].id %>" />
            <% else %>
                <p class="input-group">
                    <span class="input-group-addon"  title="Set status as"><span class=" glyphicon glyphicon-pencil"></span></span>
                    <%= select_tag 'issue[status_id]', options_from_collection_for_select(@allowed_approved_status, "id", "name"), { :class => 'form-control', "data-live-search" => true, :required => true} %>
                </p>
            <% end %>
            <p><%= link_to 'add note','#', :onclick => 'showComponent("#quick-notes")' %> <small>(optional)</small></p>
            <p><textarea id="quick-notes"  name="issue[notes]" class="form-control hide" rows="3"></textarea></p>
            <p class="text-center">
                <button type="submit" class="btn btn-primary btn-lg" onclick="hideModal(this)"><span class="glyphicon glyphicon-ok"></span> Submit</button>
                <button type="button" class="btn btn-default btn-lg" onclick="hideModal(this)">&#9899; Cancel</button>
            </p>
        </div>
    <% end %>
</div>